<main class="container mt-5">
    <section class="row text-center" aria-labelledby="aspnetTitle">
        <div class="col">
            <h1 id="aspnetTitle">Welcome To,</h1>
            <p class="lead">Employee Recruitment System</p>
        </div>
    </section>

    <section class="row">
        <div class="col-md-6">
            <h2>Candidates</h2>
            <p class="lead">Individuals who are being considered for a job or position within an organization's employee recruitment system. Their role is to apply for open positions and go through the selection process, which typically includes submitting their resume, participating in interviews, and taking assessments or tests.</p>
            <p><a class="btn btn-outline-dark" href="/accountui/register">Sign Up Here &gt;&gt;</a></p>
        </div>

        <div class="col-md-6">
            <h2>Agencies</h2>
            <p class="lead">Agencies play a crucial role in identifying and attracting qualified candidates for open positions. Recruitment agencies often use a variety of techniques, including advertising, networking, and referrals, to find potential candidates.</p>
            <p><a class="btn btn-outline-dark" href="/accountui/register">Sign Up Here &gt;&gt;</a></p>
        </div>
    </section>
</main>